
section{
    display: flex;
    justify-content: space-evenly;
}

.card{
    background-color:  rgba(216, 214, 214, 0.62);
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 40px ;
    padding:20px
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;

    position: relative;
    top: 80px;
}

#orderPage{
    margin: 0;
}









@media all and (max-width: 1024px){

    nav{
        margin: auto;
    }
}


@media all and (max-width: 768px){

    .text-fileds{
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .btn{
        display: none;
    }


    .inv{
        width: 87vw!important;
    }


    .itm{
        width: 88vw!important;
    }

    .fs{
        width: 87vw!important;
    }

    .text-fileds div{
        margin-bottom: 40px;
    }

}